<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check</title>
</head>
<body>
    <h1>Are you sure you want {{total_quantity}} </h1>
    <h2>the total charge is {{total_charge}}</h2>
    <h3>the price is {{price}}</h3>
    <form action="check/" method="post">
        {% csrf_token %}
        <input type="submit" value="Yes i want">
    </form>
    <a href="/"> <input type="submit" value="No">  </a>
</body>
</html>