<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <table>
      
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Action</th>
        </tr>
       
        <tr>
          {% for book in  bks %}
          <td>{{book.id}} </td>
          <td>{{book.title}} </td>
          <td><a href="{% url 'book_info' book.id %}">View</a></td>       
        </tr>
         {% endfor %}

      </table>
    <div>
        <form method="post" action="{% url 'add_book' %}">
            {% csrf_token %}
            <h1>Add a book</h1>
            <label for="name">Title:</label>
            <input type="text" id="title" name="title" required>
            <label for="city">Description:</label>
            <input type="text" id="desc" name="desc" required>
            <input type="submit" value="Add">
            <a href="add_author/">Go to Authors</a>
        </form>
    </div>
</body>
</html>