<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Author</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <h1>{{authors.first_name}} {{authors.last_name}}</h1>
    <p>Notes: {{authors.notes}}</p>
    <h2>Books</h2>
    <ul>
        {% for book in authors.books.all %}
        <li>{{ book.title }}</li>
        {% endfor %}
    </ul>

    <form method="post" action="{% url 'author_info' authors.id %}">
    {% csrf_token %}
    <select name="book" >
        {% for book in book %}
        <option value="{{ book.id }}">{{ book.title }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Add">
  
    </form>


</body>
</html>