<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <ul>
        <h1>Books</h1>
    
        <h1>{{books.title}}</h1>
        <p>Description: {{books.desc}}</p>
        <h2>Authors</h2>
        <ul>
            {% for author in authors %}
                <li>{{ author.first_name }}</li>
            {% endfor %}
        </ul>
    </ul>
    <form method="post" action="{% url 'add_au' %}">
    {% csrf_token %}
    <select name="bk" required>
        {% for author in authors %}
        <option value="{{ author.id }}">{{ author.first_name }} {{ author.last_name }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Add">
  
    </form>


</body>
</html>